# קבצי קומפילציה של פייתון
*.py[cod]
__pycache__/
**/__pycache__/

# סביבת פיתוח וירטואלית
venv/
.venv/

# קבצי קונפיגורציה וסודות
.env
*.env

# קבצי לוג
*.log
logs/

# קבצים זמניים של מערכת
.DS_Store
Thumbs.db

# PyInstaller
dist/
build/
*.spec

# קבצים זמניים של IDEs (כמו VSCode, PyCharm)
.vscode/
.idea/

# קבצים נוספים שאתה רוצה להחריג
modules/__pycache__/
